$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

// variables
$color-primary: #10E3DD;
$color-secondary: #8199A1;

.browserupgrade {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}

body {
	font-family: 'Work Sans', sans-serif;
}

section {
	@extend .container;
}

article {
	@extend .row;
}

h2 {
	text-transform: uppercase;
	font-size: 24px;
	font-weight: 300;
	color: $color-secondary;
}

/* -----------------------------------------------------------------------
  PAGE SPECIFIC COMPONENTS
----------------------------------------------------------------------- */

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
	.container {
		max-width: 730px;
	}
}


@media screen and (min-width: 992px) {
    .container {
        max-width: 954px;
    }
}


@media screen and (min-width: 1200px) {
    .container {
        max-width: 1162px;
    }
}


@import "components/_recent-podcast.scss";
@import "components/_recent-humble-beginnings.scss";
@import "components/_recent-punanimation.scss";

@import "components/_podcasts.scss";
@import "components/_about.scss";

@import "components/_header.scss";
@import "components/_footer.scss";

