<div class="cp-footer">
    <section>
        <article>
            <div class="col-sm-3">
                <a href="http://eepurl.com/bESEMn" title="Subscribe">Subscribe</a>
            </div>
            <div class="col-sm-3">
                <a href="mailto:info@youareswim.com" title="Contact">info@youareswim.com</a>
            </div>
            <div class="col-sm-3">
                <a href="podcasts.html" title="Podcast">Podcast</a>
            </div>
            <div class="col-sm-3">
                <a href="index.html" title="Home">Home</a>
            </div>
        </article>
    </section>
</div>