<section class="cp-header">
    <header>
        <div class="logo">
            <a href="index.html" title=""><img src="../images/global/swim-logo.png" alt="Strong Women in Motion"></a>
        </div>
        <div class="logo-description">
            <a href="index.html" title=""><h1>SWIM</h1>
            <h2>Strong Women In Motion</h2></a>
        </div>
        <nav>
            <ul>
                <li><a href="podcast.html" title="" class="">Podcast</a></li>
                <li><a href="humble-beginnings.html" title="" class="">Humble Beginnings</a></li>
                <li><a href="#" title="" class="">Punanimation</a></li>
                <li><a href="#" title="" class="">Social Media</a></li>
                <li><a href="about.html" title="" class="">About</a></li>
            </ul>
        </nav>
    </header>
</section>