<section class="cp-header">
    <header>
        <h1>SWIM</h1>
        <h2>Celebrating talented females making waves in the motion industry</h2>
        <nav>
            <ul>
                <li><a href="" title="" class="">Podcast</a></li>
                <li><a href="" title="" class="">Humble Beginnings</a></li>
                <li><a href="" title="" class="">Punanimation</a></li>
                <li><a href="" title="" class="">Social Media</a></li>
                <li><a href="" title="" class="">About</a></li>
            </ul>
        </nav>
    </header>
</section>