<div class="pg-podcast">
    <section>
        <h2>Podcast</h2>
        <article>
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel">
                    <div class="panel-heading podcast ep-01" role="tab" id="headingOne">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Pamela Green</a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                        <div class="panel-body">
                            <div class="podcast-sc">
                                <iframe width="100%" height="150" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/231415281&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
                            </div>
                            <div class="bio-copy">
                                <p>New York native Pamela Green is a Director/Producer in the film and entertainment industry. Her abilities range from creative direction, to producing music videos, to creating main titles for feature films, including The Kingdom, Furious 6, 42, and The Muppets. To say she is multi-faceted is an understatement. On top of being the co-founder of PIC, an entertainment and motion design studio based in LA, she is also fluent in 4 languages. Currently, she is working on Be Natural: The Untold Story of Alice Guy-Blache, a documentary that tells the story of the first female film director and how she was a critical influence on the film industry.</p>
                                <h5>Check out Pamela's work here:</h5>
                                <ul>
                                    <li><a href="http://benaturalthemovie.com" title=""><span class="glyphicon glyphicon-chevron-right"></span> Be Natural The Movie</a></li>
                                    <li><a href="http://picagency.com" title=""><span class="glyphicon glyphicon-chevron-right"></span> PIC Agency</a></li>
                                </ul>
                            </div>
                            <div class="detail-work">
                                <div class="col-sm-4">
                                    <img src="../images/podcasts/01_pamela-green/detail-1.png" alt="Pamela Green - SWIM">
                                </div>
                                <div class="col-sm-4">
                                    <img src="../images/podcasts/01_pamela-green/detail-2.png" alt="Pamela Green - SWIM">
                                </div>
                                <div class="col-sm-4">
                                    <img src="../images/podcasts/01_pamela-green/detail-3.png" alt="Pamela Green - SWIM">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </section>
</div>

