<div class="cp-recent-hb col-sm-6">
    <h2>You Are SWIM</h2>
    <article class="more-info">
        <div class="col-xs-12">
            <p>Learn how to get involved!</p>
            <a href="you-are-swim.html" title="You Are SWIM">You are SWIM <span class="glyphicon glyphicon-chevron-right"></span></a>
        </div>
    </article>
    <article>
        <div class="col-sm-6">
            <img src="../images/gifs/alicia-reece.gif">
        </div>
        <div class="col-sm-6">
            <img src="../images/gifs/julia-iverson.gif">
        </div>
    </article>
</div>