.cp-footer {
    background: #555;
    margin-top: 50px;
    padding-top: 20px;
    padding-bottom: 10px;
    color: #fff;
}

@media screen and (min-width: 992px) {

}


@media screen and (min-width: 1200px) {

}