.cp-footer {
    font-family: 'Work Sans', sans-serif;
    background: $color-primary;
    margin-top: 50px;
    padding-top: 60px;
    padding-bottom: 60px;
    color: #fff;
    text-align: center;

    a {
        color: #fff;
        text-transform: uppercase;

        &:hover {
            color: $color-secondary;
        }
    }
}

@media screen and (min-width: 992px) {

}


@media screen and (min-width: 1200px) {

}