.pg-podcast {
    h2 {
        text-align: center;
        margin-bottom: 50px;
    }

    article {
        margin-bottom: 60px;
    }

    .podcast {
        text-align: center;

        &.ep-01 {
            background: url(../images/podcasts/01_pamela-green/banner-md.png);
            background-repeat: no-repeat;
            background-size: 100% 100%;
            min-height: 220px;
        }
        &.ep-02 {
            background: url(../images/podcasts/02_kelli-miller/banner-md.png);
            background-repeat: no-repeat;
            background-size: 100% 100%;
            min-height: 220px;
        }
        &.ep-03 {
            background: url(../images/podcasts/03_rosie-garschina/banner-md.jpg);
            background-repeat: no-repeat;
            background-size: 100% 100%;
            min-height: 220px;
        }
    }
    
    h4 {
        color: #fff;
        font-size: 44px;
        font-weight: 300;
        text-transform: uppercase;
        padding-top: 70px;
    }

    .panel {
        margin-bottom: 40px;
    }

    .panel-heading {
        opacity: .7;
        transition: all .25s ease-in-out;
        
        &:hover {
            cursor: pointer;
            opacity: 1;
        }
    }

    .panel-body {
        padding-top: 60px;
        padding-bottom: 40px;
    }

    .bio-copy {
        margin: 40px auto;
    }
    .detail-work {
        img {
            width: 100%;
        }
    }
    ul {
        margin: 0;
        padding: 0;
    }

    li {
        list-style: none;
    }
}

@media screen and (min-width: 768px) {
    .pg-podcast {
        .bio-copy {
           width: 75%; 
        }
    }
}


@media screen and (min-width: 992px) {

}


@media screen and (min-width: 1200px) {

}