.cp-recent-podcast {
    margin-bottom: 80px;

    h2 {
        margin-top: 46px;
        margin-bottom: 40px;
        text-align: center;
        text-transform: uppercase;
        font-weight: 300;
    }

    .podcast {
        min-height: 150px;
        padding: 1px 0;
        transition: all .25s ease-in-out;
        opacity: 0.8;

        &.top {
            background: url(../images/podcasts/03_rosie-garschina/banner.jpg);
            background-repeat: no-repeat;
            background-size: 100% 100%;
            min-height: 130px;
        }

        &.bottom {
            background: url(../images/podcasts/02_kelli-miller/banner.png);
            background-repeat: no-repeat;
            background-size: 100% 100%;
            min-height: 130px;
        }

        h2 {
            color: #fff;
            font-size: 33px;
        }

        &:hover {
            opacity: 1;
        }
    }

    p {
        text-transform: uppercase;
        text-align: center;
        margin: 0;
        padding: 40px 0;
    }
}

@media screen and (min-width: 992px) {

}


@media screen and (min-width: 1200px) {

}